.artist-gallery {
  height: 65vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.artist-name{
  margin-left: 1em;
}

.artist-name, .artist-bio {
  display: block; /* Ensure they are block-level elements */
  width: 100%; /* Use the full width */
}

.artist-gallery h1 {
  color: rgba(254, 193, 50, 0.75);
  font-weight: 600;
  font-size: 7vh;
}

.artist-bio {
    background-color: rgba(0, 0, 0, 0.45);
    padding: 0.5em;
    align-self: end;
    width: 100%; 

    
  }

  .artist-bio p {
    color: rgba(254, 193, 50, 1);
  }
  
  .artist-bio button {
    background-color: rgba(254, 193, 50, 1);
    color: black;
    padding: 0.5em;
    font-weight: bold;
    border: 0;
    width: 100%;
  }

  .artist-bio button:hover {
    /* Define your gradient for the hover state */
    background-image: linear-gradient(90deg, #ffd000 0%, #ffa600 100%);
  }

  .truncate-bio {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Number of lines you want to display */
    overflow: hidden;
    text-overflow: ellipsis;
  }