.artist-item p {
  width: 16vh;
  height: 20vh;
  text-align: center;
  background-color: #fec132;
  color: white;
}

/* animation */
.artist-item p {
  margin: 0; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
  background: rgba(254, 193, 50, 0.9); /* Semi-transparent background */
  color: white;
  text-align: center;
  transform: translateY(100%); /* Start off-screen */
  transition: transform 0.3s ease, height 0.3s ease, background-color 0.3s ease; /* Smooth transition for transform, height, and background color */
}

.artist-item:hover p,
.artist-item.active p {
  transform: translateY(0%); /* Move to original position */
  height: 100%; /* Expand to full height */
  background: rgba(254, 193, 50, 0.75); /* Semi-transparent background */
}

/* Optional: if you want to differentiate the active item even more */
.artist-item.active p {
  background: rgba(
    254,
    193,
    50,
    1
  ); /* Optional: different background for active item */
}

.artist-grid {
  display: flex;
  overflow-x: auto;
  gap: 0.2em;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  overflow-y: hidden !important;
}
