.contact-us-form {
    background-color: #EDEDED;
    margin-top: 5em;
    padding: 2em;
    padding-left: 2em;

}

.contact-us-form Form{
    max-width: 500px;
    width: 100%;
}

.contact-us-form Form input{
border-radius: 0;
}

.contact-us-form Form textarea{
border-radius: 0;
}
.contact-us-form Form button{
border-radius: 0;
width: 100%;
padding: 0.5em;
font-size: large;
}
